.map-wrapper {
    position: relative;
  }
  
  .map {
    width: 100%;
    height: 400px;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
  
  .map-actions {
    margin-top: 8px;
    text-align: left;
  }
  .map-dialog {
    margin-top: 10px;
  }
  
  .map-dialog .map {
    width: 100%;
    height: 400px;
  }
  